[app]
name = fastgo
host = localhost:3000
mode = debug

[database]
drive    = mysql
host     = localhost
port     = 3306
name     = app
username = root
password = root

[redis]
host     = localhost
port     = 6379
password = 
